* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style: none;
	font-style: italic;
}

a {
	text-decoration: none;
}

body {
	background-color: #0e091b;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	/*border-bottom: 10px;
	box-shadow: 1px 1px 8px 1px white;
	border-bottom: 15px ridge white;
	border-bottom: 2px ridge white;*/

}

header ul {
	display: flex;
}

header ul li {
	padding: 10px;
	/*border-bottom: 1px dashed white;
	border-bottom: 1px ridge white;
	/*border-left: 1px dashed white;*/
}

header ul li a{
	transition: 300ms;
}

header ul li a:hover{
	color: rgb(233, 121, 121);
	text-decoration: underline;
}

/*header ul li:first-child {
	border-left: 1px dashed white;
}*/

.container {
	text-align: center;
}

.container h1 {
	font-size: 35px;
	margin-bottom: 5px;
}

.container h2 {
	font-size: 30px;
}

#nome {
	margin-top: 20px;
}

#about p {
	max-width: 600px;
	margin: 0 auto;
}

.tema{
	margin-top: 40px;
	font-size: 30px;
	font-style: italic;
}

#arrow {
	font-size: 35px;
	cursor: pointer;
	animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}

#animation {
	transition: 300ms;
}

.rotate{
	transform: rotate(180deg);
	transition: 300ms;
}

.active {
	display: block !important;
}

.form {
	width: 40%;
	margin: 0 auto;
	/*border: thick double white;*/
	padding: 25px;
	margin-top: 15px;
}

.form input {
	width: 50%;
	padding: 5px 10px;
	border: none;
	border-radius: 5px 0px 0px 5px;
}

.form button {
	width: 30%;
	padding: 5px 10px;
	background-color: rgb(65, 48, 94);
	color: white;
	font-weight: 600;
	border: none;
	cursor: pointer;
	border-radius: 0px 5px 5px 0px;

	margin-left: -4px;
	margin-top: 20px;
}

.form button:hover{
	background-color:   rgb(48, 22, 97);
	color: white;
	transition: 300ms;
}

.flex {
	display: flex;
	justify-content: center;
}

.flex div {
	margin: 15px;
	border-radius: 5px;

}

.flex div:hover{
	background-color:   rgb(65, 48, 94);
	transition: 300ms;
}

.flex img{
	max-width: 250px;
}

/* Imagens dos projetos*/
#movie {
	cursor: pointer;
	border: 1px ridge white;
}


#po {
	cursor: pointer;
	border: 1px ridge white;

}

#so{
	cursor: pointer;
	border: 1px ridge white;
}

/* MEDIA QUERY*/

@media only screen and (max-width: 768px){
	.form{
		width: 100%;
	}

	.flex img{
		max-width: 80px;
	}

}

@media only screen and (max-width: 1024px){
	.form{
		width: 100%;
	}

	.flex img{
		max-width: 150px;
	}

	.container h1{
		font-size: 30px;
	}
	.tema{
		margin-top: 30px;
		font-size: 20px;
		font-style: italic;
	}
}


@media only screen and (max-width: 480px)
{
	header ul li{
		font-size: 60%;
	}


	.container h1{
		font-size: 20px;
	}

	.container h5{
		font-size: 12px;
	}

	#about p {
		max-width: 80%;
		text-align: justify;
	}

	.flex img{
		max-width: 70px;
	}

	.tema{
		margin-top: 30px;
		font-size: 15px;
		font-style: italic;
	}


}